{
	box-sizing: border-box;
}
body
{
	background-color: white;
}

h1{
	font-size: 27px;
	font-family: arial;
	text-align: center;
	color: #000000;
	margin-top: 30px;
	margin-bottom: 30px;
}
p{
	padding: 15px 5px 0px 5px;
	font-family: Cursive;
	font-size: 16px;
	position: relative;
}

.section{
	background-color: #969696;
	border: 2px solid black;
	margin-top: 20px;
	margin-right: 20px;
	padding: 3px;
	text-align: justify;
	position: relative;
}

span{
	font-size: 20px;
	width: 150px;
	border: 1px solid black;
	font-weight: bold;
	text-align: center;
	float: right; top: 0; right: 0; margin: 0;
	position: absolute;
	font-family:Arial;
}

#c1{
	background-color: #fa9696;
	color: #000000;
}

#c2{
	background-color: #CC0000;
	color: #FFFFFF;

}
#c3{
	background-color: #c8c864;
	color: #000000;
}
}

.row{
	width: 100%;
}

@media(min-width: 992px)
{
	.col-lg-4{
		width: 33.33%;
		float: left;
	}
}

@media(min-width: 768px) and (max-width: 991px)
{
	.col-md-6{
		width: 50%;
		float: left;
	}
	.col-md-12{
		width: 100%;
		float: left;
	}
}

@media(max-width: 767px)
{
	.col-lg-12{
		float: left;
		width: 100%;
	}
}